{{ include('components/head.html.twig') }}
<h1>{{ category.name }}</h1>
<p>Аватор: {{ category.user }}</p>
<p>Создано: {{ category.createData }}</p>
<p>Обновлено: {{ category.updateData }}</p>
    <p>{{ category.description }}</p>

</body>
</html>