{{ include('components/head.html.twig') }}
{#<h1>{{ heading }}</h1>#}
{#<p>{{ content }}</p>#}
{#</body>#}
{#</html>#}
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            {% for post in posts %}
                {% if loop.index % 2 == 1 %}
                    <div class="row"> <!-- Start a new row every 2 posts -->
                {% endif %}

                <!-- Blog post-->
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <a href="#"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{ post.createData }}</div>
                            <a href="/post/{{ post.id }}"><h2 class="card-title h4">{{ post.name }}</h2></a>
                            <p class="card-text">{{ post.content }}</p>
                            {% if user.id == post.user %}
                            <a class="btn btn-primary" href="/post/edit/{{ post.id }}">Edit →</a>
                            <a class="btn btn-danger" href="/delete/post/{{ post.id }}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if loop.index % 2 == 0 or loop.index == posts|length %}
                    </div> <!-- Close the row after every second post or at the end -->
                {% endif %}
            {% endfor %}

                {% if totalPages > 1 %}
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <!-- Кнопка "Назад" -->
                            {% if currentPage > 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ currentPage - 1 }}">← Назад</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">← Назад</span>
                                </li>
                            {% endif %}

                            <!-- Ссылки на страницы -->
                            {% for i in 1..totalPages %}
                                <li class="page-item {% if i == currentPage %}active{% endif %}">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endfor %}

                            <!-- Кнопка "Вперед" -->
                            {% if currentPage < totalPages %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ currentPage + 1 }}">Вперед →</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Вперед →</span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}


        </div>

        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">JavaScript</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>